@tailwind base;
@tailwind components;
@tailwind utilities;

.text{
font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 42px;
color: #1E2026;
}

.fontColor{
color: #6947bf;
}

.card{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
background: rgba(252, 251, 253, 0.72);
/* Neutrals/200 */
border: 1px solid #D6DFE4;
border-radius: 24px;
}

.upload-container{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4rem;
background: #FCFBFD;
border: 1px dashed #CEC4EB;
border-radius: 12px;
}

.heading-text{
font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #7A8196;
}

.para-text{
font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */
text-align: center;
color: #7A8196;
}