@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.text {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  color: #1e2026;
}

.border-radius {
  border-radius: 1rem;
}

.card {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(252, 251, 253, 0.72);
  /* Neutrals/200 */
  border: 1px solid #d6dfe4;
  border-radius: 24px;
}

.upload-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background: #fcfbfd;
  border: 1px dashed #cec4eb;
  border-radius: 12px;
}

.heading-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #7a8196;
}

.para-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #7a8196;
}

.upload-button {
  box-sizing: border-box;
  padding: 8px 12px;
  background: #fcfbfd;
  border: 1px solid #cec4eb;
  box-shadow: 0px 2px 12px rgba(105, 71, 191, 0.12);
  border-radius: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #6947bf;
  width: 25%;
}
